Port 22
ListenAddress 0.0.0.0
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
UsePAM no
X11Forwarding no
AllowTcpForwarding no
AllowUsers batch
Subsystem sftp internal-sftp
